body {
    width: 100%;
    height: auto;
}

img {
    width: 100%;
    height: auto;
}

#profil {
    position: absolute;
    width: 150px;
    height: 150px;
    margin-left: 43.5vw;
    margin-top: 11.5vw;
    z-index: 5;
}

/*HEADER*/
header {
    background-color: #333646;
    display: flex;
    height: 10vw;
    margin-left: -8px;
    margin-top: -8px;
    width: 100vw;
}

#logofornavn p {
    color: #eaeaeb;
    font-family: 'Black Ops One', cursive;
    font-size: 1.5rem;
    margin-left: 3vw;
    margin-top: 3vw;
}

#logoefternavn p {
    color: #ffc25c;
    font-family: 'Black Ops One', cursive;
    font-size: 1.5rem;
    margin-left: 5px;
    margin-top: 3vw;
}

.navbar {
    position: absolute;
}

nav {
    position: absolute;
    z-index: 2;
    margin-top: 3vw;
    margin-left: 40vw;

}

nav a {
    color: white;
    font-size: 1.5rem;
    font-weight: 900;
    text-decoration: none;
    padding: 50px;
}

nav a:hover {
    color: #ffc25c;
    transition: 0.5s;
}

/*FORSIDE*/

#first_section {
    background-color: #252734;
    background-size: cover;
    position: relative;
    z-index: 1;
    width: 100vw;
    height: 45vw;
    margin-left: -8px;
    margin-top: -20px;
}

.section_wrapper {
    position: absolute;
    display: grid;
}

/*KOLONNER*/

.col1 {
    grid-column-start: 1;
    grid-column-end: 1;
}

.col2 {
    grid-column-start: 2;
    grid-column-end: 2;
    margin-left: 8vw;
}


.col1 h1 {
    color: #eaeaeb;
    font-family: 'Black Ops One', cursive;
    font-size: 8rem;
    margin-top: 1vw;
    margin-left: 8vw;
}

.col1 h2 {
    color: #ffc25c;
    font-family: 'Black Ops One', cursive;
    font-size: 10rem;
    margin-top: -8vw;
    margin-left: 8vw;
}

.col2 h2 {
    color: #03a980;
    font-size: 5rem;
    font-family: 'Black Ops One', cursive;
    margin-top: 28vw;
    margin-left: -40vw;
}

/*SOCIALE MEDIER*/

#facebook {
    width: 50px;
    height: 50px;
    margin-top: 5vw;
    margin-left: 10vw;
}

#instagram {
    width: 50px;
    height: 50px;
    margin-top: -3.2vw;
    margin-left: 20vw;
}

#linkedin {
    width: 50px;
    height: 50px;
    margin-top: -3.2vw;
    margin-left: 30vw;
}



/*FOOTER*/

footer {
    background-color: #252734;
}
