body {
    background-color: #252734;
}

img {
    width: 100%;
    height: auto;
}

header {
    background-color: #333646;
    display: flex;
    height: 133.5px;
    margin-left: -8px;
    margin-top: -8px;
    width: 102%;
}

#logofornavn p {
    color: #eaeaeb;
    font-family: 'Black Ops One', cursive;
    font-size: 1.5rem;
    margin-left: 3vw;
    margin-top: 3vw;
}

#logoefternavn p {
    color: #cb6c58;
    font-family: 'Black Ops One', cursive;
    font-size: 1.5rem;
    margin-left: 5px;
    margin-top: 3vw;
}

.navbar {
    position: absolute;
}

nav {
    position: absolute;
    z-index: 2;
    margin-top: 3vw;
    margin-left: 40vw;

}

nav a {
    color: white;
    font-size: 1.5rem;
    font-weight: 900;
    text-decoration: none;
    padding: 50px;
}

nav a:hover {
    color: #cb6c58;
    transition: 0.5s;
}

#first_section {
    background-color: #252734;
    background-size: cover;
    position: relative;
    z-index: 1;
    width: 100vw;
    height: 50vw;
    margin-left: -8px;
    margin-top: -20px;
}

.section_wrapper {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.col1 h3 {
    color: #cb6c58;
    margin-top: 4vw;
    margin-left: 17vw;
}

.readmore a {
    color: #cb6c58;
    text-decoration: none;
}

/*KOLONNER*/

.col1 {
    grid-column-start: 1;
    grid-column-end: 1;
}

.col2 {
    grid-column-start: 2;
    grid-column-end: 2;
    margin-left: 5vw;
    margin-top: 2vw;
}

.col1 p {
    color: #eaeaeb;
    font-size: 1.2rem;
    margin-left: 10vw;
    padding: 1vw;
}

#campnou {
    width: 400px;
    height: 400px;
    margin-left: 10vw;
    margin-top: -3vw;
}

#wembley {
    width: 250px;
    height: 250px;
    margin-left: 5vw;
    margin-top: -4vw;
}

#pub {
    width: 200px;
    height: 200px;
    margin-left: 20vw;
    margin-top: -4vw;
}

#business1 {
    width: 400px;
    height: 400px;
    margin-left: 5vw;
    margin-top: 2vw;
}

#business2 {
    width: 250px;
    height: 250px;
    margin-left: 20vw;
}

#first_section h2 {
    text-align: center;
    font-size: 2rem;
    color: #cb6c58;
}

#second_section h2 {
    text-align: center;
    font-size: 2rem;
    color: #cb6c58;
    margin-top: 5vw;
}

#second_section {
    background-color: #333646;
    margin-top: 5vw;
    height: 50vw;
    width: 100vw;
}

.col2 p {
    color: #eaeaeb;
    font-size: 1.1rem;
    padding: 5px;
}

.col2 h3 {
    color: #cb6c58;
    font-family: 'Black Ops One', cursive;
    font-size: 1.2rem;
}

footer {
    background-color: #252734;
}
