body {
    background-color: #252734;
}

img {
    width: 100%;
    height: auto;
}

header {
    background-color: #333646;
    display: flex;
    height: 133.5px;
    margin-left: -8px;
    margin-top: -8px;
    width: 102%;
}

#logofornavn p {
    color: #eaeaeb;
    font-family: 'Black Ops One', cursive;
    font-size: 1.5rem;
    margin-left: 3vw;
    margin-top: 3vw;
}

#logoefternavn p {
    color: #cb6c58;
    font-family: 'Black Ops One', cursive;
    font-size: 1.5rem;
    margin-left: 5px;
    margin-top: 3vw;
}

.navbar {
    position: absolute;
}

nav {
    position: absolute;
    z-index: 2;
    margin-top: 3vw;
    margin-left: 40vw;

}

nav a {
    font-family: 'Noto Sans JP', sans-serif;
    color: white;
    font-size: 1.5rem;
    font-weight: 900;
    text-decoration: none;
    padding: 50px;
    display: inline;
}

nav a:hover {
    color: #cb6c58;
    transition: 0.5s;
}

#first_section {
    background-color: #252734;
    background-size: cover;
    position: relative;
    z-index: 1;
    width: 100vw;
    height: 50vw;
    margin-left: -8px;
    margin-top: -20px;
}

.section_wrapper {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.col1 h3 {
    font-family: 'Noto Sans JP', sans-serif;
    color: #cb6c58;
    margin-top: 4vw;
    margin-left: 11vw;
}

.readmore a {
    font-family: 'Noto Sans JP', sans-serif;
    color: #cb6c58;
    text-decoration: none;
    font-size: 1.2rem;
}

/*KOLONNER*/

.col1 {
    grid-column-start: 1;
    grid-column-end: 1;
}

.col2 {
    grid-column-start: 2;
    grid-column-end: 2;
    margin-left: 5vw;
    margin-top: 2vw;
}

.col1 p {
    font-family: 'Noto Sans JP', sans-serif;
    color: #eaeaeb;
    font-size: 1.2rem;
    margin-left: 10vw;
    padding: 1vw;
}

#campnou {
    width: 400px;
    height: 400px;
    margin-left: 10vw;
    margin-top: -3vw;
}

#wembley {
    width: 250px;
    height: 250px;
    margin-left: 5vw;
    margin-top: -4vw;
}

#pub {
    width: 200px;
    height: 200px;
    margin-left: 20vw;
    margin-top: -4vw;
}

#business1 {
    width: 400px;
    height: 400px;
    margin-left: 5vw;
    margin-top: 2vw;
}

#business2 {
    width: 250px;
    height: 250px;
    margin-left: 20vw;
}

#first_section h2 {
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
    font-size: 2rem;
    color: #cb6c58;
}

#second_section h2 {
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
    font-size: 2rem;
    color: #ffc25c;
    margin-top: 5vw;
}

#second_section {
    background-color: #333646;
    margin-top: 5vw;
    height: 50vw;
    width: 100vw;
}

.col2 p {
    font-family: 'Noto Sans JP', sans-serif;
    color: #eaeaeb;
    padding: 5px;
}

.col2 h3 {
    font-family: 'Noto Sans JP', sans-serif;
    color: #ffc25c;
    font-size: 1.2rem;
}

@media (max-width: 500px) {

    /*HEADER*/

    header {
        height: 16vw;
        margin-left: -8px;
        margin-top: -8px;
        width: 100vw;
    }

    #logofornavn p {
        font-size: 1.1rem;
        margin-left: 3vw;
        margin-top: 5vw;
    }

    #logoefternavn p {
        font-size: 1.1rem;
        margin-left: 5px;
        margin-top: 5vw;
    }

    nav {
        display: inline-flex;
        margin-left: -20vw;
    }

    nav a {
        font-size: 1.2rem;
        font-weight: 900;
        text-decoration: none;
        padding: 20px;
    }

    /*FIRST SECTION*/

    #first_section {
        z-index: 1;
        width: 100vw;
        height: 206vw;
        margin-left: -8px;
        margin-top: -20px;
    }

    .section_wrapper {
        display: block;
    }

    .col1 p {
        font-size: 0.8rem;
        margin-left: 5vw;
        padding: 1vw;
    }

    /*FIRST SECTION BILLEDER*/

    #campnou {
        width: 400px;
        height: 400px;
        margin-left: 10vw;
        margin-top: -3vw;
    }

    #wembley {
        width: 250px;
        height: 250px;
        margin-left: 5vw;
        margin-top: -8vw;
    }

    #pub {
        width: 200px;
        height: 200px;
        margin-left: 30vw;
        margin-top: -4vw;
    }

    #business1 {
        width: 400px;
        height: 400px;
        margin-left: 7vw;
        margin-top: 2vw;
    }

    #business2 {
        width: 250px;
        height: 250px;
        margin-left: 22vw;
    }

    #second_section {

        margin-top: 43vw;
        height: 300vw;
        width: 100vw;
        margin-left: -2vw;
    }

}
