body {
    width: 100%;
    height: auto;
}

img {
    width: 100%;
    height: auto;
}

/*HEADER*/
header {
    background-color: #333646;
    display: flex;
    height: 10vw;
    margin-left: -8px;
    margin-top: -8px;
    width: 100vw;
}

#logofornavn p {
    color: #eaeaeb;
    font-family: 'Black Ops One', cursive;
    font-size: 1.5rem;
    margin-left: 3vw;
    margin-top: 3vw;
}

#logoefternavn p {
    color: #03a980;
    font-family: 'Black Ops One', cursive;
    font-size: 1.5rem;
    margin-left: 5px;
    margin-top: 3vw;
}

.nav {
    z-index: 2;
    margin-top: 3vw;
    margin-left: 30vw;
    list-style: none;
    display: flex;
    margin-left: 37.4vw;

}

.nav li a {
    font-family: 'Noto Sans JP', sans-serif;
    color: white;
    font-size: 1.5rem;
    font-weight: 900;
    text-decoration: none;
    padding: 51.5px;

}

.nav a:hover {
    color: #03a980;
    transition: 0.5s;
}


#first_section {
    background-color: #252734;
    background-size: cover;
    position: relative;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    margin-left: -8px;
    margin-top: -40px;
}

.section_wrapper {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.readmoretema1 a {
    font-family: 'Noto Sans JP', sans-serif;
    color: #03a980;
    text-decoration: none;
    font-size: 1.2rem;
}


.readmoretema2 a {
    font-family: 'Noto Sans JP', sans-serif;
    color: #ffc25c;
    text-decoration: none;
    font-size: 1.2rem;
}

.readmoretema3 a {
    font-family: 'Noto Sans JP', sans-serif;
    color: #03a980;
    margin-left: 10vw;
    text-decoration: none;
    font-size: 1.2rem;
}

/*KOLONNER*/

.col1 {
    grid-column-start: 1;
    grid-column-end: 1;
}

.col2 {
    grid-column-start: 2;
    grid-column-end: 2;
    margin-left: 5vw;
    margin-top: 2vw;
}

.col1 p {
    font-family: 'Noto Sans JP', sans-serif;
    color: #eaeaeb;
    padding: 5px;
    line-height: 125%;
    font-size: 1.1rem;
    margin-left: 10vw;
}

.col2 p {
    font-family: 'Noto Sans JP', sans-serif;
    color: #eaeaeb;
    margin-right: 10vw;

}

#second_section {
    background-color: #333646;
    background-size: cover;
    position: relative;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    margin-left: -8px;
    margin-top: -20px;
}

#third_section {
    background-color: #252734;
    background-size: cover;
    position: relative;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    margin-left: -8px;
    margin-top: -20px;
}


#fourth_section {
    background-color: #333646;
    background-size: cover;
    position: relative;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    margin-left: -8px;
    margin-top: -20px;
}

/*SEKTIONSOVERSKRIFTER*/

#first_section h2 {
    font-family: 'Bodoni Moda', serif;
    text-align: center;
    font-size: 1.5rem;
    color: #03a980;
}

#second_section h2 {
    font-family: 'Bodoni Moda', serif;
    text-align: center;
    font-size: 1.5rem;
    color: #cb6c58;
}

#third_section h2 {
    font-family: 'Bodoni Moda', serif;
    text-align: center;
    font-size: 1.5rem;
    color: #ffc25c;
}

#fourth_section h2 {
    font-family: 'Bodoni Moda', serif;
    text-align: center;
    font-size: 1.5rem;
    color: #03a980;
}

/*BILLEDER*/

#web1 {
    width: 400px;
    height: 400px;
    margin-left: 10vw;
    margin-top: -3vw;
}

#web2 {
    width: 300px;
    height: 300px;
    margin-left: 25vw;
    margin-top: -1vw;
}

#ux1 {
    width: 400px;
    height: 400px;
    margin-left: 14vw;
    margin-top: -3vw;
}

#ux2 {
    width: 300px;
    height: 300px;
    margin-left: 4vw;
    margin-top: -1vw;
}

#animation1 {
    width: 400px;
    height: 400px;
    margin-left: 10vw;
    margin-top: -3vw;
}

#animation2 {
    width: 300px;
    height: 300px;
    margin-left: 25vw;
    margin-top: -1vw;
}

#indhold1 {
    width: 400px;
    height: 400px;
    margin-left: 14vw;
    margin-top: -3vw;
}

#indhold2 {
    width: 300px;
    height: 300px;
    margin-left: 4vw;
    margin-top: -1vw;
}

@media (max-width: 500px) {

    /*HEADER*/

    header {
        height: 20vw;
        margin-left: -8px;
        margin-top: -8px;
        width: 100vw;
    }

    #logofornavn p {
        font-size: 1.1rem;
        margin-left: 3vw;
        margin-top: 5vw;
    }

    #logoefternavn p {
        font-size: 1.1rem;
        margin-left: 5px;
        margin-top: 5vw;
    }

    nav {
        display: inline-flex;
        margin-left: -20vw;
    }

    nav a {
        font-size: 1.2rem;
        font-weight: 900;
        text-decoration: none;
        padding: 20px;
    }

    .section_wrapper {
        display: block;
    }

    #first_section,
    #second_section,
    #third_section,
    #fourth_section {
        height: 300vw;
    }

    .col1 p {
        margin-left: 4vw;
        ;
    }

    .readmoretema3 a {
        font-family: 'Noto Sans JP', sans-serif;
        color: #03a980;
        margin-left: 5vw;
        text-decoration: none;
        font-size: 0.9rem;
    }

    #animation1 {
        margin-left: 10vw;
        margin-top: 10vw;
    }

    #indhold1 {
        margin-left: 14vw;
        margin-top: 10vw;
    }

    #ux1 {
        margin-left: 14vw;
        margin-top: 10vw;
    }

    #web1 {
        margin-left: 10vw;
        margin-top: 10vw;
    }

    /*BURGERMENU*/

    #menu-bar {
        z-index: 50;
    }

    #menu {
        width: 35px;
        height: 30px;
        margin: 30px 0 20px 255px;
        cursor: pointer;
    }

    .bar {
        height: 5px;
        width: 40px;
        background-color: white;
        display: block;
        border-radius: 5px;
    }

    #bar1 {
        transform: translateY(-4px);
    }

    #bar3 {
        transform: translateY(4px);
    }

    .nav li a {
        margin: 30px 0 20px 190px;
        font-size: 1.5rem;
        color: white;
        text-decoration: none;
        padding: 0;
    }

    .nav li a:hover {
        font-weight: bold;
        color: #03a980;
        transition: 0.5s;
    }

    .nav li {
        list-style: none;
        padding: 16px 0;
    }

    .nav {
        padding: 0;
        margin: 25px 7px;
        display: none;

    }

    .change .bar {
        background-color: white;
    }

    .change #bar1 {
        transform: translateY(4px) rotateZ(-45deg);
    }

    .change #bar3 {
        transform: translateY(-6px) rotateZ(45deg);
    }

    .change #bar2 {
        opacity: 0;
    }

    .change {
        display: block;
    }

}
