body {
    width: 100%;
    height: auto;
}

img {
    width: 100%;
    height: auto;
}

/*HEADER*/
header {
    background-color: #333646;
    display: flex;
    height: 10vw;
    margin-left: -8px;
    margin-top: -8px;
    width: 100vw;
}

#logofornavn p {
    color: #eaeaeb;
    font-family: 'Black Ops One', cursive;
    font-size: 1.5rem;
    margin-left: 3vw;
    margin-top: 3vw;
}

#logoefternavn p {
    color: #03a980;
    font-family: 'Black Ops One', cursive;
    font-size: 1.5rem;
    margin-left: 5px;
    margin-top: 3vw;
}

.navbar {
    position: absolute;
}

nav {
    position: absolute;
    z-index: 2;
    margin-top: 3vw;
    margin-left: 40vw;

}

nav a {
    color: white;
    font-size: 1.5rem;
    font-weight: 900;
    text-decoration: none;
    padding: 50px;
}

nav a:hover {
    color: #03a980;
    transition: 0.5s;
}


#first_section {
    background-color: #252734;
    background-size: cover;
    position: relative;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    margin-left: -8px;
    margin-top: -20px;
}

.section_wrapper {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.readmoretema2 a {
    color: #ffc25c;
    text-decoration: none;
}

.readmoretema3 a {
    color: #03a980;
    margin-left: 10vw;
    text-decoration: none;
}

/*KOLONNER*/

.col1 {
    grid-column-start: 1;
    grid-column-end: 1;
}

.col2 {
    grid-column-start: 2;
    grid-column-end: 2;
    margin-left: 5vw;
    margin-top: 2vw;
}

.col1 p {
    color: #eaeaeb;
    font-size: 1.1rem;
    margin-left: 10vw;
}

.col2 p {
    color: #eaeaeb;
    font-size: 1.1rem;
    margin-right: 10vw;
}

#second_section {
    background-color: #333646;
    background-size: cover;
    position: relative;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    margin-left: -8px;
    margin-top: -20px;
}

#third_section {
    background-color: #252734;
    background-size: cover;
    position: relative;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    margin-left: -8px;
    margin-top: -20px;
}


#fourth_section {
    background-color: #333646;
    background-size: cover;
    position: relative;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    margin-left: -8px;
    margin-top: -20px;
}

/*SEKTIONSOVERSKRIFTER*/

#first_section h2 {
    text-align: center;
    font-size: 1.5rem;
    color: #03a980;
}

#second_section h2 {
    text-align: center;
    font-size: 1.5rem;
    color: #cb6c58;
}

#third_section h2 {
    text-align: center;
    font-size: 1.5rem;
    color: #ffc25c;
}

#fourth_section h2 {
    text-align: center;
    font-size: 1.5rem;
    color: #03a980;
}

/*BILLEDER*/

#web1 {
    width: 400px;
    height: 400px;
    margin-left: 10vw;
    margin-top: -3vw;
}

#web2 {
    width: 300px;
    height: 300px;
    margin-left: 25vw;
    margin-top: -1vw;
}

#ux1 {
    width: 400px;
    height: 400px;
    margin-left: 14vw;
    margin-top: -3vw;
}

#ux2 {
    width: 300px;
    height: 300px;
    margin-left: 4vw;
    margin-top: -1vw;
}

#animation1 {
    width: 400px;
    height: 400px;
    margin-left: 10vw;
    margin-top: -3vw;
}

#animation2 {
    width: 300px;
    height: 300px;
    margin-left: 25vw;
    margin-top: -1vw;
}

#indhold1 {
    width: 400px;
    height: 400px;
    margin-left: 14vw;
    margin-top: -3vw;
}

#indhold2 {
    width: 300px;
    height: 300px;
    margin-left: 4vw;
    margin-top: -1vw;
}
